@import "primeicons/primeicons.css";

.header-container {
    min-width: 100px;
}

.pi-check {
    color: var(--p-primary-400);
}

.label-color {
    color: var(--p-primary-600) !important;
}

p-select {
    border-color: var(--p-primary-800) !important;
    width: 100% !important;
}

.foo-1 select {
    background-color: transparent;
    width: 100px;
    color:var(--theme-text-color);
}

.foo-2 {
    background-color: var(--theme-color);
}

.fl-color {
    width: max-content !important;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
}

.fi {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.lang-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.theme-color-select {
    border: solid 1px black;
    border-radius: 4px;
    padding: 0.5rem;
    color: black;
}