<div class="header-container" [style.--theme-color]="themeColor" [style.--theme-text-color]="themeTextColor">
    @if (canInstall) {
    <p-button
        variant="outlined"
        [raised]="true"
        (onClick)="installApp()"
        [ariaLabel]="'INSTALL_APP' | translate"
        class="mr-2 install-btn"
    >
        <i class="pi pi-download"></i>
    </p-button>
    }

    <p-button
        variant="outlined"
        [raised]="true"
        (onClick)="toggleDarkMode()"
        [ariaLabel]="darkModeAriaLabel"
        class="mr-2 theme-toggle-btn"
    >
        <i [class]="`pi pi-${darkModeIcon}`"></i>
    </p-button>

    <div class="fl-color player-select-wrap header-select-wrap">
        <p-select
            id="themeColorSelect"
            class="players-select"
            [options]="colorSelectOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="themeColor"
            (ngModelChange)="onThemeColorChange($event)"
            [appendTo]="'self'"
            [scrollHeight]="IS_SMALL_SCREEN ? '52dvh' : '200px'"
            [panelStyle]="{ width: '100%', minWidth: '100%' }"
            [ariaLabel]="'CHOSE_COLOR' | translate">
        </p-select>
    </div>

    <div class="flex gap-2 ml-2">
        <button class="lang-button" (click)="changeLanguage('bg')" aria-label="Български">
            <span class="fi fi-bg fis"></span>
        </button>
        <button class="lang-button" (click)="changeLanguage('en')" aria-label="English">
            <span class="fi fi-gb fis"></span>
        </button>
    </div>

    <p-tabs [value]="currentRoute">
        <p-tablist>
            @for(tab of tabs; track tab.route){
                <p-tab
                    [value]="tab.route"
                    [routerLink]="tab.route"
                    class="flex items-center !gap-2 text-inherit"
                >
                    <i [class]="tab.icon"></i>
                    <span>{{ 'ROUTE.' + tab.key | translate }}</span>
                </p-tab>
            }
        </p-tablist>
    </p-tabs>
</div>