<div class="header-container">
    <p-button label="{{'DARK_MODE_TOGGLE' | translate}}" (onClick)="toggleDarkMode()" />
    <p-dropdown #themeDropdown [options]="realOptionsColors" [(ngModel)]="currentThemeColor"
        (onChange)="setThemeColor($event)" placeholder="{{ 'chose-theme' | translate }}">
    </p-dropdown>
    <button class="lang-button" (click)="changeLanguage('bg')">
        <span class="fi fi-bg fis"></span>
    </button>

    <button class="lang-button" (click)="changeLanguage('en')">
        <span class="fi fi-gb fis"></span>
    </button>
</div>