@import "primeicons/primeicons.css";


.pi-check {
    color: var(--p-primary-400);
}

.label-color {
    color: var(--p-primary-600) !important;
}

p-select {
    border-color: var(--p-primary-800) !important;
    width: 100% !important;
}

.fl-color {
    width: max-content !important;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
}

.fi {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.lang-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}