<div class="chat-container">
    <div class="font-size-controls">
        <span>{{'CHAT.FONT_SIZE_LABEL' | translate}}: </span>
        <p-slider [(ngModel)]="fontSize" (ngModelChange)="updateFontSize($event)" min="10" max="30" class="test" />
    </div>
    <div class="chat-users">
        <label>{{'CHAT.USER_LABEL' | translate}}:
            <select [(ngModel)]="selectedUserId" (ngModelChange)="onUserChange($event)">
                <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
            </select>
        </label>
    </div>
    <div class="chat-messages">
        <div *ngFor="let msg of messages" class="chat-message" [ngStyle]="{'font-size.px': fontSize}">
            <span class="chat-date">{{msg.created_at | date:'dd.MM.yy (HH:mm)'}}</span>
            <b>{{msg.user_name}}:</b> {{msg.content}}
        </div>
    </div>
    <div class="chat-input">
        <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
            [placeholder]="'CHAT.INPUT_PLACEHOLDER' | translate" />
        <button (click)="sendMessage()">{{'CHAT.SEND_BUTTON' | translate}}</button>
    </div>
</div>