.match-import-container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 0.25rem 0;
}
