.blue-container {
    height: 100vh;
}

.green-container{
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .blue-container {
        width: 100vw;
        height: 100vh;
    }
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
}

.element-top {
    width: 100%;
    align-self: flex-start;
    height: auto;
    box-sizing: border-box;
    padding-top: 0.5rem;
}

.element-bottom {
    background-color: transparent;
}