.blue-container {
    /* width: 98vw; */
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .blue-container {
        width: 101vw;
        height: 100vh;
    }
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
}

.element-top {
    width: max-content;
    align-self: flex-start;
    height: 10vh;
    /* color: white; */
    box-sizing: border-box;
}

.element-bottom {
    background-color: rgb(249, 5, 5, 0.5);
    /* color: white; */
}