<section class="eliminations">
  <div class="eliminations__surface">
    <div class="eliminations__group-toggles">
      <button
        type="button"
        class="eliminations__toggle-reset"
        (click)="clearCollapsedGroups()"
        [disabled]="!isAnyGroupCollapsed"
      >
        {{ 'ELIMINATIONS.SHOW_ALL' | translate }}
      </button>

      <div class="eliminations__toggle-chips">
        @for (item of groupToggleItems; track item.key) {
          <button
            type="button"
            class="eliminations__toggle-chip"
            [class.is-collapsed]="isToggleItemCollapsed(item)"
            (click)="onToggleItemClick(item)"
          >
            <span>{{ item.row1 | translate }}</span>
            @if (item.row2) {
              <span> · {{ item.row2 | translate }}</span>
            }
          </button>
        }
      </div>
    </div>

    <div class="eliminations__zoom-controls">
      <button type="button" (click)="zoomOut()" aria-label="Zoom out">-</button>
      <button type="button" (click)="resetZoom()" aria-label="Reset zoom">{{ zoomPercent }}%</button>
      <button type="button" (click)="zoomIn()" aria-label="Zoom in">+</button>
    </div>

    <div #zoomViewport class="eliminations__viewport" [class.is-panning]="isPanning" (wheel)="onViewportWheel($event)"
      (pointerdown)="onViewportPointerDown($event)" (pointermove)="onViewportPointerMove($event)"
      (pointerup)="onViewportPointerUp($event)" (pointercancel)="onViewportPointerUp($event)">
      <div #zoomContent class="eliminations__board" [style.width.px]="canvasWidth" [style.height.px]="canvasHeight"
        [style.transform]="boardTransform">
        @for (label of groupLabels; track trackByGroupLabel($index, label)) {
          @if (!isGroupLabelCollapsed(label)) {
            <div
              class="eliminations__group-label"
              [style.left.px]="label.left"
              [style.top.px]="label.top"
              role="button"
              tabindex="0"
              (click)="onGroupLabelClick(label)"
            >
              @if (getLabelFullName(label); as fullName) {
                <p>
                  <span>{{ fullName.row1 | translate }}</span>
                  @if (fullName.row2) {
                    <br>
                    <span>{{ fullName.row2 | translate }}</span>
                  }
                </p>
              }
            </div>
          }
        }

        <svg class="eliminations__lines" [attr.width]="canvasWidth" [attr.height]="canvasHeight"
          [attr.viewBox]="'0 0 ' + canvasWidth + ' ' + canvasHeight" preserveAspectRatio="xMinYMin meet"
          aria-hidden="true">
          @for (path of paths; track trackByPath($index, path)) {
          <path [attr.d]="path.d"></path>
          }
        </svg>

        @for (node of nodes; track trackByNode($index, node)) {
        <article class="eliminations__match" [style.left.px]="node.left" [style.top.px]="node.top">
          <p class="eliminations__datetime">{{ node.dateTime }}</p>
          <p class="eliminations__team">{{ node.homeTeam }}</p>
          <p class="eliminations__team">{{ node.awayTeam }}</p>
          <p class="eliminations__meta">M{{ node.mId }}</p>
        </article>
        }
      </div>
    </div>
  </div>
</section>